<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-title>Articulos del Catering</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header></app-header>

<ion-content>

  <ion-card-header>
    <ion-card-title>Articulos del Catering</ion-card-title>
    <img src="assets/cubiertos_sin_fondo.png" alt="catering-list">
    <ion-card-subtitle>Y si no te gusta el mojo ...</ion-card-subtitle>
  </ion-card-header>

  <ion-grid fixed>
    <ion-row *ngFor="let i of items;">
      <ion-col size="8">
        <ion-card>
          <ion-card-content>
            <h1>{{i.id}}. {{i.description}}  -  {{i.price}}€</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="2">
        <ion-button size="small" type="ios" color="danger"  (click)="deleteItem(i.id)" expand="block"> 
          <ion-icon slot="start" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="2">
        <ion-button size="small"
                    type="ios" 
                    color="secondary" 
                    [routerLink]="['/update/']"
                    [queryParams]="{ id: i.id }"> 
          <ion-icon slot="end" name="open-outline"></ion-icon>
        </ion-button>  
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- <ion-button type="ios" (click)="goBack()">Volver</ion-button>  -->
  <ion-button (click)="goBack()" expand="block">Volver</ion-button>


</ion-content>
