<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Actualización de Articulos</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header></app-header>

<ion-content>
  <ion-list lines="full">

    <ion-card-header>
      <ion-card-title>Actualización de Articulos</ion-card-title>
    </ion-card-header>  

    <form [formGroup]="updateItemForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input formControlName="description" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input formControlName="price" type="text" required></ion-input>
      </ion-item>

      <ion-row> 
        <ion-col width-50>
          <ion-button (click)="updatingItem()" color="light" expand="block"> Actualizar </ion-button>
        </ion-col>
        <ion-col width-50>
          <ion-button (click)="goBack()" expand="block">Volver</ion-button>
        </ion-col>
      </ion-row>      

    </form>    
  </ion-list>
</ion-content>

